* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("Bg.png");
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  margin-top: 55%;
  height: 400px;
  width: 300px;
}
